html {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    background-color: black;
}

.container {
    align-self: center;

    display: flex;
    flex-flow: column;
    align-items: center;
}